<section id="help">
    <div class="row">
        <div class="span10">
            <h3>Otsinguabi</h3>
            <p>Otsing kasutab Lucene süntaksit. Täpsema juhendi leiab <a href="http://lucene.apache.org/core/old_versioned_docs/versions/2_9_1/queryparsersyntax.html">Lucene kodulehelt</a> (inglise keeles). Vaikimisi on vastes nõutud kõik otsisõnad, kuid seda saab reguleerida operaatoriga <em>OR</em>, näiteks <code>tavaline telefon</code> nõuab, et artiklis oleks sees nii sõna <em>tavaline</em> kui ka <em>telefon</em>, aga <code>tavaline OR telefon</code> nõuab, et artiklis eksisteeriks vaid emb-kumb märgitud sõnadest.</p>
            <p>Otsing ei tuvasta automaatselt sõnade käändeid ja pöördeid, otsitakse vaid täpseid vasteid <sup><a href="#note1">[1]</a></sup>. Määramata sõnalõpu jaoks võib viimaste tähtede asemele panna tärni, sellisel juhul otsitakse kõiki sõnu, mis algavad samade tähtedega. Näiteks <code>kolla*</code> leiab nii sõna <em>kollane</em> kui ka <em>kollased</em>.</p>
            <p>Otsingu täpsustamiseks on võimalik kasutada järgmisi välju:</p>
            <ul>
                <li>
                    <code>title</code> pealkirja otsinguks
                </li>
                <li>
                    <code>text</code> sisu otsinguks otsinguks
                </li>
                <li>
                    <code>site</code> allika määramiseks (domeeninimi ilma <em>www</em> osata, näiteks <code>site:postimees.ee</code>)
                </li>
            </ul>
            <p>Näiteks leidmaks artikleid, mille pealkirjas on sõna <em>Kasepuu</em>, saab kasutada otsingut <code>title:Kasepuu</code>. Juhul kui sõna asemel on vaja määrata fraas, tuleks see panna jutumärkide vahele <code>title:"Kasepuu kasvab"</code>. </p>
            <blockquote>
                <p id="note1"><small>[1] Käänete ja pöörete automaatseks lahendamiseks saaks kasutada <a href="https://github.com/tpetmanson/estnltk">Estnltk</a> Python teeki, kuid hetkel ei ole selle tugi veel implementeeritud.</small></p>
            </blockquote>
        </div>
    </div>
</section>